/kite
/kite.exe
*.exe~
/dist/
/coverage.out
node_modules/
/sdk/dist/
/web/dist/
/.idea/
/.vscode/
*.log
*.err
*.pem
*.key
.env
/kite.production.yaml
/backups/
/site/
/testdata/e2e.*
/testdata/*-e2e.*
